.bgimg{
    background-image: url(https://img.freepik.com/free-photo/top-view-fresh-ripe-vegetables-with-greens-dark-surface-salad-meal-vegetable-ripe-color_140725-118109.jpg?size=626&ext=jpg&ga=GA1.2.761211204.1668081255&semt=ais");
    background-size: cover;
    height: 120vh;
}
.mobilehead{
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    padding:25px;

}
.layoutcards{
    background-color:darkorange;
    border-radius: 8px;
    padding:18px;
    margin:15px;
}
.brandscont{
    color: #120E43;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.brandspara{
    color:gray;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}
.brandimg{
width:100px ;
height:100px ;
}